{% extends "simpleuser/baseSimpleuser.html" %}
{% load crispy_forms_tags %}
{% block content %}  
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Show Group Activies Form</legend>
                {{ ShowGroupActiviesForm|crispy }}
                  
                    <html>
					<head>
					<style>
					table {
					  font-family: arial, sans-serif;
					  border-collapse: collapse;
					  width: 100%;
					}

					td, th {
					  border: 1px solid #dddddd;
					  text-align: left;
					  padding: 8px;
					}

					tr:nth-child(even) {
					  background-color: #dddddd;
					}
					</style>
					</head>
					<body>

					<h2>Group Activies Table</h2>
					<table>
					  <tr>
					    <th>location</th>
					    <th>phone</th>
					    <th>neighborhood</th>
					    <th>class-name</th>
					    <th>min-age</th>
					    <th>max-age</th>
						<th>id of class</th>
					    
					  </tr>


					{% for T in x %}
					<tr>
					{% for r in T %}
					  
					<td>{{r}}</td>
					  
					{% endfor %}
					</tr>
					{% endfor %}

					</body>
					</html>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        <div class="border-top pt-3">
           
        </div>
    </div>
{% endblock content %}
