{% extends "simpleuser/baseSimpleuser.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Show my classes</legend>

                    <html>
                    <head>
                    <style>
                    table {
                      font-family: arial, sans-serif;
                      border-collapse: collapse;
                      width: 100%;
                    }

                    td, th {
                      border: 1px solid #dddddd;
                      text-align: left;
                      padding: 8px;
                    }

                    tr:nth-child(even) {
                      background-color: #dddddd;
                    }
                    </style>
                    </head>
                    <body>

                    <table>
                      <tr>
                        <th>id child</th>
                        <th>child first name</th>
                        <th>child last name</th>
                        <th>child age</th>
                        <th>parent phone</th>
                        <th>location</th>
                        <th>name of class</th>
                      </tr>



                    {% for T in x %}
                    <tr>
                    {% for r in T %}

                    <td>{{r}}</td>

                    {% endfor %}
                    </tr>
                    {% endfor %}

                    </body>
                    </html>

            </fieldset>

        </form>
        <div class="border-top pt-3">

        </div>
    </div>
{% endblock content %}