{% extends "simpleuser/baseSimpleuser.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Show  detail of guides </legend>

                    <html>
                    <head>
                    </head>
                    <body>

                    {% for T in inX %}
                    <p>
                    {{T}}
                    <br />
                    </p>
                    {% endfor %}

                    </body>
                    </html>

            </fieldset>

        </form>
        <div class="border-top pt-3">

        </div>
    </div>
{% endblock content %}